/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
@import url("./icons.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #1E5EFF;
    --color-primary-muted: #D9E4FF;
    --color-destructive: #F0142F;
    --color-destructive-muted: #FDE7EA;
    --color-success: #06A561;
    --color-success-muted: #C4F8E2;

    --color-disabled: #D7DBEC;

    --color-text-base: #131523;
    --color-text-muted: #5A607F;
    --color-text-inverted: #ffffff;    

    --color-border: #D9E1EC;

    --color-hover-default: #D7DBEC;
    --color-active-default: #FFFFFF;
    --color-focus-default: #FFFFFF;

    --color-hover-primary: #4F81FF;
    --color-active-primary: #336DFF;
    --color-focus-primary: #ECF2FF;

    --color-hover-secondary: #ECF2FF;
    --color-active-secondary: #D9E4FF;
    --color-focus-secondary: #ECF2FF;

    --color-hover-destructive: #F34359;
    --color-active-destructive: #F12B43;
    --color-focus-destructive: #FDE7EA;

    --color-hover-destructive-secondary: #FCD5D9;
    --color-active-destructive-secondary: #FDE7EA;
    --color-focus-destructive-secondary: #FDE7EA;
  }
}